{% extends 'base.html' %}

{% block title %}
  <title>About Us</title>
  {% endblock title %}

{% block content %}
<h3 style="color: crimson;text-align: center;">Egypt Market</h3>
<p style="color: green;">
    Egypt Market is a new varied online market ... it has multiple products : mobiles, tablets,
     TVs, electronics, toys, clothes, appliances and more ... you can order our products in any 
     time all over Egypt ..  <br>If you need something that doesn't exist in our market just
     email us with it's details .
</p>
{% endblock content %}