{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Egypt Market</title>
{% endblock title %}

{% block css %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}

{% if products %}
<h1 style="color: cadetblue;text-align: center;">Search Result</h1>
<div class="products-container">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ product.image.url }}" alt="product image" style="width: 70%;">
        <h1 style="font-size: 25px;color:crimson;">{{ product.name }}</h1>
        <p class="price">{{ product.price }} EGP</p>
        <p class="description">{{ product.description }}</p>
        <p class="quantity" style="color: deeppink;">Quantity:{{ product.quantity }}</p>
        <p><button>Add to Cart</button></p>
    </div>
{% endfor %}
</div><br>
{% else %}
<h1 style="color: cadetblue;text-align: center;">No Search Found</h1>
{% endif %}
{% endblock content %}