{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Egypt Market</title>
{% endblock title %}

{% block css %}
<link href="{% static 'css/view_cart_items.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}

<h1 style="color: darkcyan;text-align: center;">My Cart</h1><br>
{% if zipped_list and total != 0 %}
<table id="ProductsTable" style="width:100%">
    <tr>
      <th>name</th>
      <th>price</th>
      <th>ordered quantity</th>
      <th>description</th>
      <th>Delete</th>
    </tr>

    {% for product,qty in zipped_list %}
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ qty }}</td>
      <td>{{ product.description }}</td>
      <td>
        <a href="{% url 'delete_cart_item' product.id %}">
        <span class="glyphicon glyphicon-trash"></span></a>
      </td>
    </tr>
    {% endfor %}
  </table><br>
  <div class="total-price">
    <p id="total">Total Price: <span style="font-weight: bold;">{{ total }} EGP</span></p>
  </div>
  <div style="text-align:center">
<a href="{% url 'make_order' total %}" style="color: white;text-decoration: none;"><button class="btn btn-success">Order Now</button></a>
  </div>
{% else %}
<h1 style="text-align: center;">No Items In Cart</h1>
{% endif %}
{% endblock content %}